:root {
    
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #edf2f8;
}
.container {
    border-radius: 1rem;
    width: 75vw;
    display: flex;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
}
.image {
    background-image: url(./images/drawers.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.info {
    padding: 2rem;
}
.title {
    color: var(--very-dark-grayish-blue);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.text {
    color: var(--grayish-blue);
    margin-bottom: 1.3rem;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-box {
    display: flex;
    align-items: center;
}
.profile-box img {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.name {
    color: var(--very-dark-grayish-blue);
    display: block;
    font-size: .90rem;
}
.date {
    color: var(--grayish-blue);
    font-size: .80rem;
}
.share img {
    padding: .70rem;
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
}

.box-share {
    /* display: none; */
    position: absolute;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}